<div style="padding-top:55px;margin-top:-55px;" id="<%= post.id %>">
<div class="panel <%= post.sage? ? 'panel-danger': 'panel-success' %> post_panel" >
    <div class="panel-heading clearfix">
        <div class="pull-right">
            <%= link_to 'Reply', '#', class: ( post.sage? ? 'btn btn-danger btn-xs get_answer': 'btn btn-success btn-xs get_answer' ), data: { post_id: ">>#{post.id}" }, role: "button"  if user_signed_in? %>
        </div>
        <h3 class="panel-title" style="padding-top: 2px;">
            №<%= number %> &nbsp;
            <% unless post.anon %>
                <% if post.user.admin? %>
                    <b>ADMIN</b>
                <% else %>
                    <%= post.user.username %>  
                <% end %>
            <% else %>
                <% if user_signed_in? && current_user.admin? %>
                    <b>Anonymous (<%= post.user.username %>)</b>
                <% else %>
                    Anonymous    
                <% end %>
            <% end %> &nbsp; 
            <%= pretty_datetime(post.created_at) %> &nbsp;
            <%= link_to '#', class: 'get_answer', data: { post_id: ">>#{post.id}" } do %>
                <b>#<%= post.id %></b>
            <% end %> &nbsp; 
            <%= 'Sage!' if post.sage? %>
        </h3>
    </div>

    <div class="panel-body">
        <%= render partial: 'thrs/post_content', :locals => { post: post, thr: thr, board: board } %>
    </div>

    
    
        <div class="panel-footer" style="<%= 'display:none;' if post.answers.blank? %>">   
            <em> Answers: </em>
            <% post.answers.each do |answer| %>
                <%= link_to ">>#{answer.id}", board_thr_path(board, thr, anchor: answer.id), data: { anchor: answer.id }, class: 'post_anchor' %>
            <% end %>  
        </div>         
</div>
</div>
