<h2><center> Edit Board </center></h2>

<%= form_for([@user], html: {class: "form-horizontal", multipart: true }) do |f| %>
    <div class="form-group">
        <%= f.label "Email", class: "col-sm-2 control-label" %>
        <div class="col-sm-7"><%= f.text_field :email, class: "form-control" %></div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <%= f.label :admin, class: "checkbox" do %>    
              <%= f.check_box :admin %>Admin
            <% end %>            
        </div>
      </div>    
    </div> 

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
            <%= f.label :banned, class: "checkbox" do %>    
              <%= f.check_box :banned %>Ban
            <% end %>            
        </div>
      </div>    
    </div> 


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-7">
            <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>   