<table style="width:100%" class="table">
    <tr>
        <th>Email</th>
        <th>Created</th>
        <th>Sign in</th>
        <th>Last sign in</th>
        <th >Status</th>
        <th></th>
        
    </tr>   
    <% @users.order(created_at: :desc).each do |user| %>

        <tr class="<%= "danger" if user.banned %>" >
            <td><b><%= user.email %><%= " <em>(admin)</em>".html_safe if user.admin %><b></td>
            <td><%= user.created_at %></td>
            <td><%= user.sign_in_count %></td>
            <td><%= user.last_sign_in_at %></td>
            <td><%= "<b>Bunned</b>".html_safe if user.banned %></td>
            <td><%= link_to "Edit", edit_user_path(user), class: "btn btn-success", role: "button"  %></td>
        </tr>       
    <% end %>
<table>