<br>
<%= link_to 'New Board', new_board_path, class: "btn btn-success", role: "button" %>
<table style="width:100%" class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Terms</th>
        <th>Pages limit</th>
        <th>Bumplimit</th>
        <th colspan="2"></th>
    </tr>   
    <% @boards.order(name: :desc).each do |board| %>
        <tr>
            <td><b><%= board.name %><b></td>
            <td><%= board.description %></td>
            <td><%= board.terms %></td>
            <td><%= board.pages_limit %></td>
            <td><%= board.bumplimit %></td>
            <td><%= link_to "Edit", edit_board_path(board) %> </td>
            <td><%= link_to "Delete", board, confirm: 'Are you sure?', method: :delete  %></td>
        </tr>       
    <% end %>
<table>
        
