<% @page_title = @board.description %>
<%= link_to [@board] do %>
<center><h2><b><%= @board.description %></b></h2></center>
<% end %>
<center><h4><%= @board.terms %></h4></center>
<center><h4>Bumplimit: <%= @board.bumplimit %> posts</h4></center>
<% if user_signed_in? %> 
    <div align="center">
        <% if cannot? :create, Thr %>
            <%= link_to "New Thread", new_board_thr_path(@board), class: "btn btn-success", role: "button", disabled: "disabled" %> 
           
            <p class="text-danger"><b>You are banned!</b><p>
        <% else %>
            <%= link_to "New Thread", new_board_thr_path(@board), class: "btn btn-success", role: "button" %> 
            <br> <br>
        <% end %>  
   </div>
        
<% end %>

<% if @thrs.blank? %>
    <div class="well col-sm-offset-1 col-sm-10">
        <% if user_signed_in? %>
            <% if cannot? :create, Thr %>
                <center><h3>There are no any threads on this board yet :c</h3></center>
            <% else %>
                <center><h3>There are no any threads on this board yet :c</h3></center>
                <center><h4>You can <%= link_to "create", new_board_thr_path(@board)%> first!</h4></center>
            <% end %>    
        <% else %>  
             <center><h3>There are no any threads on this board yet :c</h3></center> 
             <center><h4><%= link_to "Login", new_user_session_path %> to create new!</h4></center> 
        <% end %>     
    </div>  
<% else %>
    <%= paginate @thrs %>

    <%- @thrs.each do |thr| %> 
        <%= render partial: 'op_post', :locals => { post: thr.posts.first, thr: thr, board: @board } %>   
    <% end %>

    <%= paginate @thrs %>
<% end %>    



