<!DOCTYPE html>
<html>
<head>
    <title><%= @page_title || "Imageboard" %></title>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <script type="text/javascript" src="http://vk.com/js/api/share.js?9" charset="windows-1251"></script>
    
    <%= content_for?(:head) ? yield(:head) : '' %>
</head>
<body>
    <%= render 'layouts/navigation_bar' %>

    <div class="container">
        <div class="row">
            <div class="hidden-sm hidden-xs col-md-2">
                <div id='nav_boards' style='height:100%;'>
                    <center>
                        <%= link_to root_path do %>
                            <%= image_tag 'right-menu.png',  width: '150px' %>
                        <% end %>
                    </center>
                    <br>    
                
                    <ul class="nav nav-pills nav-stacked" >
                        <% Board.all.order(:name).each do |board| %>
                            <li>
                                <%= link_to board do %>
                                    /<%= board.name %>/ — <%= board.description %>
                                <% end %>
                            </li>
                        <% end %>
                    </ul>
                </div>
            </div>    
            <div class="col-md-10 col-sm-12 col-sm-12">
                <% if notice %>
                    <p class="alert alert-success"><%= notice %></p>
                <% end %>
                <% if alert %>
                    <p class="alert alert-danger"><%= alert %></p>
                <% end %>

                <%= yield %> 
            
            </div>
        </div>
    </div>
         
    <nav class="navbar navbar-default footer" >
        <div class="container-fluid">
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav" style="width:100%; text-align:center;">
                    <li style='float:none; display:inline-block;'><p class="navbar-text">All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.</p></li>
                </ul>   
            </div>
        </div>
    </nav>  
     
</body>
</html>
